###### Install by pip install -r requirements.txt #####

###### Requirements with Version Specifiers ######
docx2txt == 0.8
python-docx == 0.8.10
peewee == 3.14.4
dependency_injector===4.5.4
pyyaml == 5.4.1
psycopg2-binary
# psycopg2===2.8.6
pymysql===0.10.1

### Docker installation - AI not needed for now ####
#torch==1.8.1+cu111
#torchvision==0.9.1+cu111
#torchaudio==0.8.1 

###### Requirements without Version Specifiers ######
sentence-transformers
pandas
flask 
flask-cors
nltk